{% load static %}
<!DOCTYPE html>
<html lang="es">
<body>
    <div style="background-color: #F2F2F2; line-height: 1.15; font-size: 16px">
        <div style="font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; text-align: center;">
            <h2><b>planificacion</b></h2>
            <p>Mensaje de {{ username }}</p>
            <p>Libro: {{ book }}</p>
            <p>{{ text }}</p>
        </div>
    </div>
</body>
</html>
