{% load static %}
<!DOCTYPE html>
<html lang="es">
<body>
    <div style="background-color: #F2F2F2; line-height: 1.15; font-size: 16px">
        <div style="font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; text-align: center;">
            <h2>Bienvenido a <b>ZEROPLAST</b></h2>

            <p>¡Hola {{ user.first_name }}!</p>

            <p>
                ¡Ya formas parte de la comunidad!<br>
                Tu perfil en ZEROPLAST ha sido validado.
            </p>

            <br>

            <!-- <a style="padding: 15px; background-color: #bf560b; color: black; text-decoration: none;" href="{{ verification_url }}"><b>Activar cuenta</b></a> -->
        </div>
    </div>
</body>
</html>
